@media only screen and (min-width:320px) and (max-width:992px){
    
    /*Header resp*/
    .res-hide{
        display: none;
    }

    body,htmL{
        overflow-x: hidden !important;
    }

    header{
        padding: 15px 0px;
        height: auto;
    }

    header .part1, header .part3{
        padding: 0px;
    }

    header .part1{
        max-width: 40%;
        flex: 0 0 40%;
    }

    header .logo img{
        width: 70%;
        height: 50px;
    }

    header .logo span{
        font-size: 18px;
    }

    header .part3{
        max-width: 60%;
        flex: 0 0 60%;
    }

    /*Sidebar resp*/
    .main .sidebarWrapper{
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: -100%;
        z-index: 10000;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .main .sidebarWrapper .sidebar{
        width: 100%;
        position: relative;
        top: 0px;
        max-height: inherit;
    }

    .sidebarWrapper.open{
        left: 0px !important;
        opacity: 1 !important;
    }

    .sidebarOverlay{
        position: fixed;
        top:0px;
        background: rgba(0,0,0,0.7);
        z-index: 100;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .sidebarOverlay.show{
        display: block !important;
    }

    .main .content{
        width: 100%;
        flex:  0 0 100%;
    }

    /*.right-content{
        padding: 90px 15px;
    }*/

    /*Dashboard resp*/
    .dashboardBoxWrapper{
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        display: block !important;
        margin-bottom: 20px;
    }

    .dashboardBoxWrapper::-webkit-scrollbar{
        display: none;
    }

    .dashboardBoxWrapper .dashboardBox{
        display: inline-block;
        width: 270px;
        height: 160px;
        margin-right: 10px;
    }

    .topPart2{
        padding-left: 15px !important;
    }

    .tableFooter{
        flex-direction: column;
    }

    .tableFooter nav{
        margin-top: 25px;
    }

    .tableFooter nav ul{
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        display:  block !important;
        margin-bottom: 20px;
    }

    .tableFooter nav ul li{
        display: inline-block;
        width: max-content;
        height: auto;
    }

    /*ProductDetaisl resp*/
    .MuiBreadCrumbs-root{
        margin-top: 15px !important;
    }

    .productInfo .col-sm-3{
        max-width: 200px !important;
        flex: 0 0 200px !important;
    }

    .productInfo .col-sm-9{
        max-width: 100% !important;
        flex: 0 0 100% !important;
        padding-left: 50px !important;
    }

    .loginSection{
        height: auto !important;
    }

    .loginSection .col-md-8{
        display: none !important;
    }

}


@media only screen and(min-width:320px) and (max-width:575px){

    /*Header resp*/
    header .row{
        margin: auto;
    }

    header button.rounded-circle{
        width: 35px !important;
        min-width: 35px !important;
        height: 35px !important;
        margin-right: 8px !important;
    }

    header .btn-blue{
        font-size: 12px !important;
        padding: 5px 10px !important;
    }

    .userImg{
        width: 35px;
        height: 35px;
    }

    .myAccWrapper button{
        padding: 0px;
        min-width: 35px;
        width: 35px;
    }

    .form .col{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
}

@media screen (max-width:992px){
    .hide{
        display: none !important;
    }
}

/* Add this to your global styles or component CSS file */
@media (min-width: 992px) {
  .col-lg-1_5 {
    flex: 0 0 auto;
    width: 12.5%;
  }
}